body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:518px;
}
#u223 {
  position:absolute;
  left:0px;
  top:40px;
  width:361px;
  height:518px;
}
#u224 {
  position:absolute;
  left:2px;
  top:251px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  color:#CC99CC;
}
#u226 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u227 {
  position:absolute;
  left:48px;
  top:14px;
  width:279px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u228 {
  position:absolute;
  left:2px;
  top:-2px;
  width:275px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u229 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:1px;
}
#u230 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u231 {
  position:absolute;
  left:13px;
  top:11px;
  width:12px;
  height:20px;
}
#u232 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:0px;
  top:3px;
  width:48px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
