body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:518px;
}
#u71 {
  position:absolute;
  left:0px;
  top:40px;
  width:361px;
  height:518px;
}
#u72 {
  position:absolute;
  left:2px;
  top:251px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  color:#CC99CC;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:48px;
  top:14px;
  width:279px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:2px;
  top:-2px;
  width:275px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u77 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:1px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u79 {
  position:absolute;
  left:13px;
  top:11px;
  width:12px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:3px;
  width:48px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
