body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:704px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u949 {
  position:absolute;
  left:10px;
  top:15px;
  width:704px;
  height:25px;
}
#u949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:10px;
  top:115px;
  width:704px;
  height:40px;
}
#u953 {
  position:absolute;
  left:2px;
  top:12px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u954 {
  position:absolute;
  left:168px;
  top:130px;
  width:16px;
  height:16px;
}
#u955 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u956 {
  position:absolute;
  left:269px;
  top:130px;
  width:16px;
  height:16px;
}
#u957 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u958 {
  position:absolute;
  left:295px;
  top:130px;
  width:16px;
  height:16px;
}
#u959 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u960 {
  position:absolute;
  left:321px;
  top:130px;
  width:16px;
  height:16px;
}
#u961 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u962 {
  position:absolute;
  left:194px;
  top:130px;
  width:16px;
  height:16px;
}
#u963 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u964 {
  position:absolute;
  left:220px;
  top:130px;
  width:16px;
  height:16px;
}
#u965 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u966 {
  position:absolute;
  left:422px;
  top:130px;
  width:16px;
  height:16px;
}
#u967 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u968 {
  position:absolute;
  left:370px;
  top:130px;
  width:16px;
  height:16px;
}
#u969 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u970 {
  position:absolute;
  left:396px;
  top:130px;
  width:16px;
  height:16px;
}
#u971 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u972 {
  position:absolute;
  left:546px;
  top:130px;
  width:16px;
  height:16px;
}
#u973 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u974 {
  position:absolute;
  left:572px;
  top:130px;
  width:16px;
  height:16px;
}
#u975 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u976 {
  position:absolute;
  left:497px;
  top:130px;
  width:16px;
  height:16px;
}
#u977 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u978 {
  position:absolute;
  left:448px;
  top:130px;
  width:16px;
  height:16px;
}
#u979 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980 {
  position:absolute;
  left:10px;
  top:127px;
  width:100px;
  height:22px;
}
#u980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u980_input:disabled {
  color:grayText;
}
#u981 {
  position:absolute;
  left:114px;
  top:127px;
  width:44px;
  height:22px;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u981_input:disabled {
  color:grayText;
}
#u982 {
  position:absolute;
  left:10px;
  top:159px;
  width:704px;
  height:372px;
}
#u982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:372px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u983 {
  position:absolute;
  left:10px;
  top:593px;
  width:100px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u984 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:10px;
  top:67px;
  width:266px;
  height:25px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u986 {
  position:absolute;
  left:10px;
  top:554px;
  width:100px;
  height:16px;
}
#u987 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
