body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:704px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u825 {
  position:absolute;
  left:10px;
  top:15px;
  width:704px;
  height:25px;
}
#u825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  position:absolute;
  left:10px;
  top:115px;
  width:704px;
  height:40px;
}
#u829 {
  position:absolute;
  left:2px;
  top:12px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u830 {
  position:absolute;
  left:168px;
  top:130px;
  width:16px;
  height:16px;
}
#u831 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u832 {
  position:absolute;
  left:269px;
  top:130px;
  width:16px;
  height:16px;
}
#u833 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u834 {
  position:absolute;
  left:295px;
  top:130px;
  width:16px;
  height:16px;
}
#u835 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u836 {
  position:absolute;
  left:321px;
  top:130px;
  width:16px;
  height:16px;
}
#u837 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u838 {
  position:absolute;
  left:194px;
  top:130px;
  width:16px;
  height:16px;
}
#u839 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u840 {
  position:absolute;
  left:220px;
  top:130px;
  width:16px;
  height:16px;
}
#u841 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u842 {
  position:absolute;
  left:422px;
  top:130px;
  width:16px;
  height:16px;
}
#u843 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u844 {
  position:absolute;
  left:370px;
  top:130px;
  width:16px;
  height:16px;
}
#u845 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u846 {
  position:absolute;
  left:396px;
  top:130px;
  width:16px;
  height:16px;
}
#u847 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u848 {
  position:absolute;
  left:546px;
  top:130px;
  width:16px;
  height:16px;
}
#u849 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u850 {
  position:absolute;
  left:572px;
  top:130px;
  width:16px;
  height:16px;
}
#u851 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u852 {
  position:absolute;
  left:497px;
  top:130px;
  width:16px;
  height:16px;
}
#u853 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u854 {
  position:absolute;
  left:448px;
  top:130px;
  width:16px;
  height:16px;
}
#u855 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856 {
  position:absolute;
  left:10px;
  top:127px;
  width:100px;
  height:22px;
}
#u856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u856_input:disabled {
  color:grayText;
}
#u857 {
  position:absolute;
  left:114px;
  top:127px;
  width:44px;
  height:22px;
}
#u857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u857_input:disabled {
  color:grayText;
}
#u858 {
  position:absolute;
  left:10px;
  top:159px;
  width:704px;
  height:372px;
}
#u858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:372px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u859 {
  position:absolute;
  left:10px;
  top:593px;
  width:100px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u860 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u861 {
  position:absolute;
  left:10px;
  top:67px;
  width:266px;
  height:25px;
}
#u861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u862 {
  position:absolute;
  left:10px;
  top:554px;
  width:100px;
  height:16px;
}
#u863 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u862_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
