body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:704px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u910 {
  position:absolute;
  left:10px;
  top:15px;
  width:704px;
  height:25px;
}
#u910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:10px;
  top:115px;
  width:704px;
  height:40px;
}
#u914 {
  position:absolute;
  left:2px;
  top:12px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u915 {
  position:absolute;
  left:168px;
  top:130px;
  width:16px;
  height:16px;
}
#u916 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u917 {
  position:absolute;
  left:269px;
  top:130px;
  width:16px;
  height:16px;
}
#u918 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u919 {
  position:absolute;
  left:295px;
  top:130px;
  width:16px;
  height:16px;
}
#u920 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u921 {
  position:absolute;
  left:321px;
  top:130px;
  width:16px;
  height:16px;
}
#u922 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u923 {
  position:absolute;
  left:194px;
  top:130px;
  width:16px;
  height:16px;
}
#u924 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u925 {
  position:absolute;
  left:220px;
  top:130px;
  width:16px;
  height:16px;
}
#u926 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u927 {
  position:absolute;
  left:422px;
  top:130px;
  width:16px;
  height:16px;
}
#u928 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u929 {
  position:absolute;
  left:370px;
  top:130px;
  width:16px;
  height:16px;
}
#u930 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u931 {
  position:absolute;
  left:396px;
  top:130px;
  width:16px;
  height:16px;
}
#u932 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u933 {
  position:absolute;
  left:546px;
  top:130px;
  width:16px;
  height:16px;
}
#u934 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u935 {
  position:absolute;
  left:572px;
  top:130px;
  width:16px;
  height:16px;
}
#u936 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u937 {
  position:absolute;
  left:497px;
  top:130px;
  width:16px;
  height:16px;
}
#u938 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u939 {
  position:absolute;
  left:448px;
  top:130px;
  width:16px;
  height:16px;
}
#u940 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:10px;
  top:127px;
  width:100px;
  height:22px;
}
#u941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u941_input:disabled {
  color:grayText;
}
#u942 {
  position:absolute;
  left:114px;
  top:127px;
  width:44px;
  height:22px;
}
#u942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u942_input:disabled {
  color:grayText;
}
#u943 {
  position:absolute;
  left:10px;
  top:159px;
  width:704px;
  height:372px;
}
#u943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:372px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u944 {
  position:absolute;
  left:10px;
  top:593px;
  width:100px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u945 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u946 {
  position:absolute;
  left:10px;
  top:67px;
  width:266px;
  height:25px;
}
#u946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u947 {
  position:absolute;
  left:10px;
  top:554px;
  width:100px;
  height:16px;
}
#u948 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u947_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
