body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:941px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:2px;
}
#u978 {
  position:absolute;
  left:0px;
  top:46px;
  width:941px;
  height:1px;
}
#u979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u980 {
  position:absolute;
  left:70px;
  top:11px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:57px;
  height:6px;
}
#u982 {
  position:absolute;
  left:58px;
  top:44px;
  width:54px;
  height:3px;
}
#u983 {
  position:absolute;
  left:2px;
  top:-6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:21px;
  top:70px;
  width:920px;
  height:521px;
}
#u985 {
  position:absolute;
  left:2px;
  top:252px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u986 {
  position:absolute;
  left:47px;
  top:159px;
  width:15px;
  height:15px;
}
#u987 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u988 {
  position:absolute;
  left:47px;
  top:253px;
  width:15px;
  height:15px;
}
#u989 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u990 {
  position:absolute;
  left:159px;
  top:159px;
  width:92px;
  height:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u992 {
  position:absolute;
  left:159px;
  top:252px;
  width:53px;
  height:16px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u994 {
  position:absolute;
  left:84px;
  top:142px;
  width:50px;
  height:50px;
}
#u995 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u996 {
  position:absolute;
  left:561px;
  top:159px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u998 {
  position:absolute;
  left:821px;
  top:159px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1000 {
  position:absolute;
  left:875px;
  top:159px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u1002 {
  position:absolute;
  left:21px;
  top:211px;
  width:920px;
  height:1px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1004 {
  position:absolute;
  left:84px;
  top:235px;
  width:50px;
  height:50px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1006 {
  position:absolute;
  left:561px;
  top:252px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1008 {
  position:absolute;
  left:821px;
  top:252px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1010 {
  position:absolute;
  left:875px;
  top:252px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u1012 {
  position:absolute;
  left:21px;
  top:304px;
  width:920px;
  height:1px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1014 {
  position:absolute;
  left:47px;
  top:346px;
  width:15px;
  height:15px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1016 {
  position:absolute;
  left:159px;
  top:346px;
  width:60px;
  height:16px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1018 {
  position:absolute;
  left:84px;
  top:329px;
  width:50px;
  height:50px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1020 {
  position:absolute;
  left:561px;
  top:346px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1022 {
  position:absolute;
  left:821px;
  top:346px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1024 {
  position:absolute;
  left:875px;
  top:346px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u1026 {
  position:absolute;
  left:21px;
  top:398px;
  width:920px;
  height:1px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:21px;
  top:70px;
  width:920px;
  height:51px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:18px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1030 {
  position:absolute;
  left:47px;
  top:88px;
  width:15px;
  height:15px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u1032 {
  position:absolute;
  left:84px;
  top:88px;
  width:99px;
  height:16px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1034 {
  position:absolute;
  left:838px;
  top:7px;
  width:103px;
  height:28px;
  color:#FFFFFF;
}
#u1035 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:854px;
  top:82px;
  width:70px;
  height:28px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1038 {
  position:absolute;
  left:47px;
  top:88px;
  width:15px;
  height:15px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1040 {
  position:absolute;
  left:616px;
  top:88px;
  width:53px;
  height:16px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1042 {
  position:absolute;
  left:47px;
  top:439px;
  width:15px;
  height:15px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:159px;
  top:439px;
  width:60px;
  height:16px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1046 {
  position:absolute;
  left:84px;
  top:422px;
  width:50px;
  height:50px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1048 {
  position:absolute;
  left:561px;
  top:439px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1050 {
  position:absolute;
  left:821px;
  top:439px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1052 {
  position:absolute;
  left:875px;
  top:439px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u1054 {
  position:absolute;
  left:21px;
  top:491px;
  width:920px;
  height:1px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1056 {
  position:absolute;
  left:47px;
  top:538px;
  width:15px;
  height:15px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1058 {
  position:absolute;
  left:159px;
  top:538px;
  width:60px;
  height:16px;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1060 {
  position:absolute;
  left:84px;
  top:521px;
  width:50px;
  height:50px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1062 {
  position:absolute;
  left:561px;
  top:538px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1064 {
  position:absolute;
  left:821px;
  top:538px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1066 {
  position:absolute;
  left:875px;
  top:538px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u1068 {
  position:absolute;
  left:21px;
  top:590px;
  width:814px;
  height:1px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
