body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:941px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:2px;
}
#u949 {
  position:absolute;
  left:0px;
  top:46px;
  width:941px;
  height:1px;
}
#u950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u951 {
  position:absolute;
  left:70px;
  top:11px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u953_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:57px;
  height:6px;
}
#u953 {
  position:absolute;
  left:58px;
  top:44px;
  width:54px;
  height:3px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:21px;
  top:70px;
  width:920px;
  height:521px;
}
#u956 {
  position:absolute;
  left:2px;
  top:252px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u957 {
  position:absolute;
  left:47px;
  top:159px;
  width:15px;
  height:15px;
}
#u958 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u959 {
  position:absolute;
  left:47px;
  top:253px;
  width:15px;
  height:15px;
}
#u960 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u961 {
  position:absolute;
  left:159px;
  top:159px;
  width:92px;
  height:16px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u963 {
  position:absolute;
  left:159px;
  top:252px;
  width:53px;
  height:16px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u965 {
  position:absolute;
  left:84px;
  top:142px;
  width:50px;
  height:50px;
}
#u966 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u967 {
  position:absolute;
  left:561px;
  top:159px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u969 {
  position:absolute;
  left:821px;
  top:159px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u971 {
  position:absolute;
  left:875px;
  top:159px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u973 {
  position:absolute;
  left:21px;
  top:211px;
  width:920px;
  height:1px;
}
#u974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u975 {
  position:absolute;
  left:84px;
  top:235px;
  width:50px;
  height:50px;
}
#u976 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u977 {
  position:absolute;
  left:561px;
  top:252px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u979 {
  position:absolute;
  left:821px;
  top:252px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u981 {
  position:absolute;
  left:875px;
  top:252px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u983 {
  position:absolute;
  left:21px;
  top:304px;
  width:920px;
  height:1px;
}
#u984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u985 {
  position:absolute;
  left:47px;
  top:346px;
  width:15px;
  height:15px;
}
#u986 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u987 {
  position:absolute;
  left:159px;
  top:346px;
  width:60px;
  height:16px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u989 {
  position:absolute;
  left:84px;
  top:329px;
  width:50px;
  height:50px;
}
#u990 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u991 {
  position:absolute;
  left:561px;
  top:346px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u993 {
  position:absolute;
  left:821px;
  top:346px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u995 {
  position:absolute;
  left:875px;
  top:346px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u997 {
  position:absolute;
  left:21px;
  top:398px;
  width:920px;
  height:1px;
}
#u998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:21px;
  top:70px;
  width:920px;
  height:51px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:18px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1001 {
  position:absolute;
  left:47px;
  top:88px;
  width:15px;
  height:15px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u1003 {
  position:absolute;
  left:84px;
  top:88px;
  width:99px;
  height:16px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:838px;
  top:7px;
  width:103px;
  height:28px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:854px;
  top:82px;
  width:70px;
  height:28px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1009 {
  position:absolute;
  left:47px;
  top:88px;
  width:15px;
  height:15px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1011 {
  position:absolute;
  left:616px;
  top:88px;
  width:53px;
  height:16px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1013 {
  position:absolute;
  left:47px;
  top:439px;
  width:15px;
  height:15px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:159px;
  top:439px;
  width:60px;
  height:16px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1017 {
  position:absolute;
  left:84px;
  top:422px;
  width:50px;
  height:50px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1019 {
  position:absolute;
  left:561px;
  top:439px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:821px;
  top:439px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:875px;
  top:439px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u1025 {
  position:absolute;
  left:21px;
  top:491px;
  width:920px;
  height:1px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1027 {
  position:absolute;
  left:47px;
  top:538px;
  width:15px;
  height:15px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1029 {
  position:absolute;
  left:159px;
  top:538px;
  width:60px;
  height:16px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1031 {
  position:absolute;
  left:84px;
  top:521px;
  width:50px;
  height:50px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1033 {
  position:absolute;
  left:561px;
  top:538px;
  width:162px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1035 {
  position:absolute;
  left:821px;
  top:538px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1037 {
  position:absolute;
  left:875px;
  top:538px;
  width:27px;
  height:16px;
  color:#00CCFF;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u1039 {
  position:absolute;
  left:21px;
  top:590px;
  width:814px;
  height:1px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
